*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243);
  
}

.instagram-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 50rem;
  margin: auto
  
}

#insta-phone{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
 
#insta-phone img{
  height: 50rem;
  
}

.instagram-continue{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 40rem;
}

#insta-logo{
  height: 3rem;
  margin-bottom: 1rem;
}

#profile-pic{
  display:  flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

#profile-pic img{
  height: 10rem;
}

#continue{
  padding: 8px;
  margin-bottom: 1rem;
  color: white;
  background-color: #0095f6;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

#continue:hover{
  color: white;
  background-color: #52b5f7;
}

.remove{
  color:#0095f6;
  text-decoration: none;
  transition: 0.3s;
}

.remove:hover{
  color: #52b5f7;
}

.download{
  transition: 0.3s;
  text-align: center;
}

.download img{
  margin-top: 1rem;
  height: 3rem;
  cursor: pointer;
  transition: 0.3s;

}



.group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  margin-bottom: 2rem;
  padding: 1.5rem 0;
  border: 1px solid lightgray;
  background-color: white;
}

.group p{
  color: rgb(160, 160, 160);
}


@media (max-width: 720px) {
  body {
      background-color: #ffffff;
  }

  .instagram-wrapper {
      width: 90%;
  }

  #insta-phone {
      display: none;
  }

  .instagram-continue {
      width: 100%;
  }
  
  .group {
      border: 1px solid transparent;
  }
}




